============Welcome to CentsOS server =========================
            Welcome to {{ ansible_hostname }}                                     
            Fully Domain: {{ansible_fqdn}}
            IP address: {{ ansible_default_ipv4.address }}
            OS distro: {{ansible_distribution}}
            OS version : {{ ansible_distribution_major_version}}
---------------------------------------------------
